
<div class="contents row">
  <div class="container">
  <div class="d-flex flex-direction:column">
  
      <%= form_with(model: @task, local: true) do |form| %>

      
      <%= form.text_field :title, placeholder: "title" %>
      <%= form.text_area :text, placeholder: "text", rows: "10" %>
       <%= form.text_field :date_time, placeholder: "date" %>
      <%= form.submit "投稿" %>
    <% end %>
  </div>
</div>